/* .box {
  flex: 0 0 calc((100% / 5) - 10px);
  aspect-ratio: 1;
  margin-bottom: 10px;
  box-sizing: border-box;

   @media (max-width: 768px) {
    flex: 0 0 calc((100% / 3) - 10px);
  }
} */

.box {
  aspect-ratio: 1;
  box-sizing: border-box;
  position:relative;
}

.background_wrap {
    width:100%;
    height:100%;
    background: var(--custom-bg-color, blue);
    opacity:1;
}


.deck_name {
  width:100%;
  background:#000;
  position:absolute;
  bottom:0;
  opacity:0.9;
  display:flex;
  align-items:center;
  justify-content: center;
  height:60px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:20px;
  @media (max-width: 768px) {
    height:30px;
    opacity:0.9;
    font-size:14px;
  }
}

.deck_name p {
  color:aliceblue;
  text-align:center;
}

.copied_to_clipboard_holder {
  opacity:0.9;
  background:#000;
  position:absolute;
  top:calc(50% - 20px);
  width:100%;
}

.copied_to_clipboard {
  color:gold;
  
  text-align:center;
  display:block;
  
}